* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f5f5;
  color: #003a5d;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.3rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.8rem;
  font-style: italic;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
}